.App {
  text-align: center;
  
}

.App-header {
  width: 40%;
  margin: 8rem auto;
  background-color: white;
  border-radius: .5rem;  
}
.icon-cont {  
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin); 
}

.pics-cont{
  border-radius: .3rem .3rem 0 0;
  padding: 1rem 0;
  background: rgb(220, 218, 218);
}

img{
  border: .3rem white solid;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
}
.header{
  color: #617d98;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.downtext{
  width: 100%;
  font-size: 1.5rem;
  margin: 0;
}
.icon-cont{
  color: #617d98;
}
.icon{
  cursor: pointer;
}
.icon:hover{
 color: cadetblue;
}
.random{
  padding: .5rem .7rem;
  border-radius: .3rem;
  margin-bottom: 1rem;
  letter-spacing: .2rem;
  color: white;
  border: none;
  background: #49a6e9;
  cursor: pointer;
}
.random:hover{
  background: #1a6aa2;
}

@media screen and (max-width: 1000px) {
  .App-header {
    width: 80%; 
  }
}